/* INDEX.HTML */

.nav{
  min-height: 100px;
  padding: 20px;
}
#logo {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
}
.fas {
  margin-left: 300px;
}
#nav-mobile,
#options {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.intro,.signin{
  font-family: 'Roboto', sans-serif;
  margin-top: 300px;
   
}
.page-footer{
  padding: 20px;
  margin-top: 125px;
  font-family: 'Montserrat', sans-serif;
}


/* REGISTER */

.title-form{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}
#label{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: black;
}
#send{
  background-image: linear-gradient(to right,#4A569D,#DC2424);
  display:block;
  margin-left: auto;
  margin-right: auto;
  font-size:150%;
}
span{
  font-family: 'Roboto', sans-serif;
  font-size:15px;
}