<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>

    <!-- Compiled and minified CSS 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

    <!-- Materialize icons -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Google fonts-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@100;300;600&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <!-- css file -->
    <link rel="stylesheet" href="../css/styles.css">

    <!--MATERIALIZE-->
    <link rel="stylesheet" href="../css/materialize/css/materialize.min.css">

    <!--FONT AWESOME-->
    <link rel="stylesheet" href="../assets/fontAwesome/fontawesome/css/all.min.css">

</head>

<body>


    <!-- NAV -->

    <nav class=" nav" style=" background-image: linear-gradient(to right,#4A569D,#DC2424);min-height: 130px;">
        <div class="container ">
            <div class="nav-wrapper ">
                <a id="logo" href="#" class="brand-logo">Catlovers</a><i class="fas fa-cat fa-5x"></i>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a id="options" href="../views/index.html">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--INTRO -->


    <div class="intro center" style="margin-top:150px;">
        <h4>We are a non-profit organization that rescues stray cats and tries to find them an adopter.</h4>
        <h4> If you have any questions, fill out the form and we will answer you shortly.</h4><br>

    </div><br>

    <section class="container">

        <div class="row">
            <form class="col s12" action="">

                <div class="row card-panel">
                    <div class="input-field col s6"><br><br>
                        <input id="name" type="text" class="validate" required name="name"
                            style="font-size: 25px;font-family: 'Roboto', sans-serif;">
                        <label id="label" for="icon_text">Name</label>
                    </div>
                    <div class="input-field col s6"><br><br>
                        <input id="email" type="email" class="validate" required name="email"
                            style="font-size: 25px;font-family: 'Roboto', sans-serif;">
                        <label id="label" for="icon_prefix">Email</label>
                    </div>
                    <div class="input-field col s6"><br><br>
                        <textarea id="textarea1" name="descr_adult" class="materialize-textarea" required style="font-size: 25px;font-family: 'Roboto', sans-serif;"></textarea>
                        <label for="textarea1" style="font-family: 'Montserrat', sans-serif;font-size: 25px;color: black;">Message</label>
                    </div>
                   
    
                </div><br>
                
                <button id="send" class="waves-effect waves-light btn-large center-align" type="submit"
                name="submit">Send</button>

            </form>
        </div>
    </section>





    <!-- FOOTER -->

    <footer class="page-footer" style="background-image: linear-gradient(to right,#4A569D,#DC2424);">
        <div class="footer-copyright">
            <div class="container center">
                Copyright © 2021 Sergi Sánchez
            </div>
        </div>
    </footer>

    <!-- Compiled and minified JavaScript 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->

    <script src="../../../css/materialize/js/materialize.min.js"></script>

    <!-- JAVASCRIPT ALERTIFY -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <script>
        $('#textarea1').val('New Text');
        M.textareaAutoResize($('#textarea1'));
    </script>

</body>

</html>